# Файлы и папки операционной системы
.DS_Store
Thumbs.db
!docker-compose.yml
*.yml


# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Собранные файлы (допишите самостоятельно)

build/

